<div id="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 widget padding-right-lg">
                            <h4>top Rated</h4>
                            <div class="owl-carousel footer-toprated-slider">
                                <div class="product-group">
                                    <div class="product clearfix">
                                        <figure class="product-image-container">
                                            <a href="product.html" title="White linen sheer dress">
                                                <img src="<%=asset_path 'products/product1.jpg'%>" alt="Product image" class="product-image">
                                                <img src="images/products/product1-hover.jpg" alt="Product image hover" class="product-image-hover">
                                            </a>
                                        </figure>
                                        <div class="product-content">
                                            <h3 class="product-name"><a href="product.html" title="JGap Graphic Cuffed">Gap Graphic Cuffed</a></h3>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="90"></div>
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                            <div class="product-price-container">
                                                <span class="product-price">$102.00</span>
                                            </div><!-- End .product-price-container -->
                                        </div><!-- End .product-content -->
                                    </div><!-- End .product -->


                                    <div class="product clearfix">
                                        <figure class="product-image-container">
                                            <a href="product.html" title="Women's Lauren Dress">
                                                <img src="images/products/product8.jpg" alt="Product image" class="product-image">
                                                <img src="images/products/product2-hover.jpg" alt="Product image hover" class="product-image-hover">
                                            </a>
                                        </figure>
                                        <div class="product-content">
                                            <h3 class="product-name"><a href="product.html" title="Women's Lauren Dress">Women's Lauren Dress</a></h3>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="55"></div>
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                            <div class="product-price-container">
                                                <span class="product-old-price">$99.00</span>
                                                <span class="product-price">$47.00</span>
                                            </div><!-- End .product-price-container -->
                                        </div><!-- End .product-content -->
                                    </div><!-- End .product -->
                                </div><!-- End .product-group -->

                                <div class="product-group">
                                    <div class="product clearfix">
                                        <figure class="product-image-container">
                                            <a href="product.html" title="White Shaund dress">
                                                <img src="images/products/product10.jpg" alt="Product image" class="product-image">
                                                <img src="images/products/product1-hover.jpg" alt="Product image hover" class="product-image-hover">
                                            </a>
                                        </figure>
                                        <div class="product-content">
                                            <h3 class="product-name"><a href="product.html" title="White Shaund dress">White Shaund dress</a></h3>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="50"></div>
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                            <div class="product-price-container">
                                                <span class="product-price">$72.50</span>
                                            </div><!-- End .product-price-container -->
                                        </div><!-- End .product-content -->
                                    </div><!-- End .product -->


                                    <div class="product clearfix">
                                        <figure class="product-image-container">
                                            <a href="product.html" title="White linen sheer dress">
                                                <img src="images/products/product11.jpg" alt="Product image" class="product-image">
                                                <img src="images/products/product2-hover.jpg" alt="Product image hover" class="product-image-hover">
                                            </a>
                                        </figure>
                                        <div class="product-content">
                                            <h3 class="product-name"><a href="product.html" title="Jacket Suiting Blazer">Women's Suiting Jacket</a></h3>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="70"></div>
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                            <div class="product-price-container">
                                                <span class="product-price">$114.00</span>
                                            </div><!-- End .product-price-container -->
                                        </div><!-- End .product-content -->
                                    </div><!-- End .product -->
                                </div><!-- End .product-group -->
                            </div><!-- End .owl-carousel -->
                        </div><!-- End .col-sm-4 -->

                        <div class="col-md-4 widget padding-right-lg">
                            <h4>From Twitter</h4>
                            <ul class="twitter-top-widget"></ul>
                        </div><!-- End .col-sm-4 -->

                        <div class="col-md-4 widget padding-right-lg">
                            <h4>Quick Contact</h4>
                            <div id="footer-top-small-map"></div><!-- End .#footer-top-small-map -->
                            <form action="#" id="quick-contact">
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" required placeholder="ENTER YOUR NAME *">
                                </div><!-- end .form-group -->
                                <div class="form-group">
                                    <input type="email" class="form-control input-lg" required placeholder="ENTER YOUR E-MAIL *">
                                </div><!-- end .form-group -->
                                <div class="form-group clear-margin">
                                    <textarea class="form-control input-lg min-height-sm clear-margin" cols="30" rows="4" placeholder="ENTER YOUR MESSAGE *"></textarea>
                                </div><!-- end .form-group -->
                                <div class="xs-margin half"></div><!--space -->
                                <div class="form-group">
                                    <input type="submit" class="btn btn-custom-9 min-width-md" value="Send Message">
                                </div><!-- end .form-group -->
                                <div class="xs-margin visible-md visible-lg"></div>
                            </form>
                        </div><!-- End .col-sm-4 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
</div><!-- End #footer-top -->