<div data-hook="admin_testimonial_banner_form_fields" class="row">
  <div class="col-md-6">
   <%= f.field_container :testimonial_banner_img, class: ['form-group'] do %>
      <%= f.label :testimonial_banner_img %>
      <%= f.file_field :testimonial_banner_img, class: 'form-control' %>
      <%= error_message_on :banner, :testimonial_banner_img %>
    <% end %>
  </div>
</div>
