 <div class="md-margin2x half hidden-xs"></div><!-- space -->
            <div class="xlg-margin visible-xs"></div><!-- space -->

            <div class="container">
                <div class="carousel-container">
                    <h2 class="small-title big text-center">From The blog</h2>
                    <div class="row">
                        <div class="owl-carousel blog-posts-carousel center-buttons" style="display:inline">
                            <article class="article">
                                <div class="article-media-container">
                                    <a href="single.html"><img src="images/blog/post1.jpg" class="img-responsive" alt="Post 1"></a>
                                </div><!-- End .article-media-container -->

                                <div class="article-meta-box">
                                    <span class="article-icon article-date-icon"></span>
                                    <span class="meta-box-text">05 Nov</span>
                                </div><!-- End .article-meta-box -->
                                <div class="article-meta-box article-meta-comments">
                                    <span class="article-icon article-comment-icon"></span>
                                    <a href="#" class="meta-box-text">15 Com</a>
                                </div><!-- End .article-meta-box -->

                                <h3><a href="single.html">Lorem ipsum dolor sit amet</a></h3>
                                <p>In quis malesuada mi, interdum sagittis est. Nunc a libero tristique, condimentum velit eget, tristique sem. Nam auctor orci eget nunc condimentum sollicitudin.</p>
                                <a href="single.html" class="readmore" role="button">Read More</a>
                            </article><!-- End .article -->

                            <article class="article">
                                <div class="article-media-container">
                                    <a href="single.html"><img src="images/blog/post2.jpg" class="img-responsive" alt="Post 2"></a>
                                </div><!-- End .article-media-container -->

                                <div class="article-meta-box">
                                    <span class="article-icon article-date-icon"></span>
                                    <span class="meta-box-text">12 Dec</span>
                                </div><!-- End .article-meta-box -->
                                <div class="article-meta-box article-meta-comments">
                                    <span class="article-icon article-comment-icon"></span>
                                    <a href="#" class="meta-box-text">27 Com</a>
                                </div><!-- End .article-meta-box -->

                                <h3><a href="single.html">Donec Ante Molestie In Dolor</a></h3>
                                <p>Maecenas sodales justo tortor, quis commodo libero pharetra nec. Nunc pretium mi ac tellus porttitor auctor. Phasellus tincidunt porta diam, ut volutpat neque volutpat sed.</p>
                                <a href="single.html" class="readmore" role="button">Read More</a>
                            </article><!-- End .article -->

                            <article class="article">
                                <div class="article-media-container">
                                    <a href="single.html"><img src="images/blog/post3.jpg" class="img-responsive" alt="Post 3"></a>
                                </div><!-- End .article-media-container -->

                                <div class="article-meta-box">
                                    <span class="article-icon article-date-icon"></span>
                                    <span class="meta-box-text">18 Nov</span>
                                </div><!-- End .article-meta-box -->
                                <div class="article-meta-box article-meta-comments">
                                    <span class="article-icon article-comment-icon"></span>
                                    <a href="#" class="meta-box-text">11 Com</a>
                                </div><!-- End .article-meta-box -->

                                <h3><a href="single.html">Lorem ipsum dolor sit amet</a></h3>
                                <p>Vivamus mollis varius metus in egestas. Vestibulum blandit auctor dolor. Praesent iaculis ultrices accumsan. Integer sollicitu din consectetur lectus, vitae vulputate velit.</p>
                                <a href="single.html" class="readmore" role="button">Read More</a>
                            </article><!-- End .article -->
                            
                            <article class="article">
                                <div class="article-media-container">
                                    <a href="single.html"><img src="images/blog/post4.jpg" class="img-responsive" alt="Post 4"></a>
                                </div><!-- End .article-media-container -->

                                <div class="article-meta-box">
                                    <span class="article-icon article-date-icon"></span>
                                    <span class="meta-box-text">03 Nov</span>
                                </div><!-- End .article-meta-box -->
                                <div class="article-meta-box article-meta-comments">
                                    <span class="article-icon article-comment-icon"></span>
                                    <a href="#" class="meta-box-text">18 Com</a>
                                </div><!-- End .article-meta-box -->

                                <h3><a href="single.html">Lorem ipsum dolor sit amet</a></h3>
                                <p>In quis malesuada mi, interdum sagittis est. Nunc a libero tristique, condimentum velit eget, tristique sem. Nam auctor orci eget nunc condimentum sollicitudin.</p>
                                <a href="single.html" class="readmore" role="button">Read More</a>

                            </article><!-- End .article -->

                        </div><!-- End .container -->
                    </div><!-- End .container -->
                </div><!-- End .carousel-container -->
            </div><!-- End .container -->